
{% extends "layout.html" %}
{% block content %}

<h2>Käyttäjä {{session.user_name}}   </h2>

<p>
Koiran valinta onnistui, valittu koira {{session.dog_name}}. <br>
Automaattinen uudelleen ohjaus <span id="countdowntimer">10 </span> sekunnissa


<meta http-equiv="Refresh" content="10; url=/markprogress" />

</p>

 {% for dog in dogs %}
<li><a href="/dogchoice/{{ dog.id }}">{{ dog.dogname }}</a>
{% endfor %}
</ul> 


<script type="text/javascript">
    var timeleft = 10;
    var downloadTimer = setInterval(function(){
    timeleft--;
    document.getElementById("countdowntimer").textContent = timeleft;
    if(timeleft <= 0)
        clearInterval(downloadTimer);
    },1000);
</script>

{% endblock %}