<!doctype html>
<link rel="stylesheet" href="/static/main.css">
<title>Koiran koulutus - {% block title %}{% endblock %}</title>
<body>

<div class="block">

<div class="header">
    <h1>Koiran koulutus</h1>
</div>

<nav>
    <ul>
        <li><a href="/">Etusivu </a></li>
        {% if session.user_name %}
        <li><a href="/logout">Kirjaudu ulos </a></li>
        <li><a href="/dogs">Valitse koira </a></li>
        <li><a href="/add_dog">Lisää koira </a></li>
        {% else %}
        <li><a href="/login">Kirjautuminen </a></li>
        <li><a href="/register">Käyttäjätunnuksen luonti </a></li>
        {% endif %}
        {% if session.dog_name %}
        <li><a href="markprogress">Koulutusohjelma</a></li>
        <li><a href="modify_plan">Muokkaa ohjelmaa</a></li>
        {% endif %}
    </ul>
</nav>
{% if msg %}
<p>{{msg}}</p>
{% endif %}
<p>
{% if session.user_name %}
Kirjautunut käyttäjä: {{session.user_name}}
{% endif %}
</p>
<p>
    {% if session.dog_name %}
    Valittu koira: {{session.dog_name}}
    {% else %}
    Koiraa ei valittu
    {% endif %}
</p>

{% if error_message %}
<hr>
<div class="error">
{% for error in error_message %}
Virhe: {{error}}<br>
{% endfor %}
</div>

{% endif %}

<hr>

{% block content %}{% endblock %}
</div>
<hr>
</body>
